WebLis/ZhiFang.WebLis/ZhiFang.WebLisService/Web References/SampleSwapInterface/a.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownloadBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DestiOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebLiser">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadBarCodeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeBarCode">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="nodeNRequestItem">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="nodeNRequestForm">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="xmlWebLisOthers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DestiOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWebLiser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadBarCodeStrResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strBarCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNRequestItem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNRequestForm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlWebLisOthers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DestiOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebLiser">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadBarCodeCancelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeFlag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DestiOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebLiser">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCodeFlagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadBarCodeFlagResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefuseDownloadBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DestiOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebLiser">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefuseDownloadBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RefuseDownloadBarCodeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCode_yz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SourceOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestiOrgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebLiser">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBarCode_yzResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadBarCode_yzResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeBarCode">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="nodeNRequestItem">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="nodeNRequestForm">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="xmlWebLisOthers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBarCode" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeStrSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeStr" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeStrSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeStrResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeCancelSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeCancel" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeCancelSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeCancelResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeFlagSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeFlag" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCodeFlagSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBarCodeFlagResponse" />
  </wsdl:message>
  <wsdl:message name="RefuseDownloadBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:RefuseDownloadBarCode" />
  </wsdl:message>
  <wsdl:message name="RefuseDownloadBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:RefuseDownloadBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCode_yzSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBarCode_yz" />
  </wsdl:message>
  <wsdl:message name="DownloadBarCode_yzSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBarCode_yzResponse" />
  </wsdl:message>
  <wsdl:portType name="ASoap">
    <wsdl:operation name="DownloadBarCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">下载申请</wsdl:documentation>
      <wsdl:input message="tns:DownloadBarCodeSoapIn" />
      <wsdl:output message="tns:DownloadBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeStr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">下载申请字符串方式</wsdl:documentation>
      <wsdl:input message="tns:DownloadBarCodeStrSoapIn" />
      <wsdl:output message="tns:DownloadBarCodeStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeCancel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取消下载</wsdl:documentation>
      <wsdl:input message="tns:DownloadBarCodeCancelSoapIn" />
      <wsdl:output message="tns:DownloadBarCodeCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeFlag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">签收标志</wsdl:documentation>
      <wsdl:input message="tns:DownloadBarCodeFlagSoapIn" />
      <wsdl:output message="tns:DownloadBarCodeFlagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefuseDownloadBarCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">退回</wsdl:documentation>
      <wsdl:input message="tns:RefuseDownloadBarCodeSoapIn" />
      <wsdl:output message="tns:RefuseDownloadBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCode_yz">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">下载申请</wsdl:documentation>
      <wsdl:input message="tns:DownloadBarCode_yzSoapIn" />
      <wsdl:output message="tns:DownloadBarCode_yzSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ASoap" type="tns:ASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadBarCode">
      <soap:operation soapAction="http://tempuri.org/DownloadBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeStr">
      <soap:operation soapAction="http://tempuri.org/DownloadBarCodeStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeCancel">
      <soap:operation soapAction="http://tempuri.org/DownloadBarCodeCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeFlag">
      <soap:operation soapAction="http://tempuri.org/DownloadBarCodeFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefuseDownloadBarCode">
      <soap:operation soapAction="http://tempuri.org/RefuseDownloadBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCode_yz">
      <soap:operation soapAction="http://tempuri.org/DownloadBarCode_yz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ASoap12" type="tns:ASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadBarCode">
      <soap12:operation soapAction="http://tempuri.org/DownloadBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeStr">
      <soap12:operation soapAction="http://tempuri.org/DownloadBarCodeStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeCancel">
      <soap12:operation soapAction="http://tempuri.org/DownloadBarCodeCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCodeFlag">
      <soap12:operation soapAction="http://tempuri.org/DownloadBarCodeFlag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefuseDownloadBarCode">
      <soap12:operation soapAction="http://tempuri.org/RefuseDownloadBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBarCode_yz">
      <soap12:operation soapAction="http://tempuri.org/DownloadBarCode_yz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="A">
    <wsdl:port name="ASoap" binding="tns:ASoap">
      <soap:address location="http://152.136.176.251/SampleSwapInterface/WebService/a.asmx" />
    </wsdl:port>
    <wsdl:port name="ASoap12" binding="tns:ASoap12">
      <soap12:address location="http://152.136.176.251/SampleSwapInterface/WebService/a.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>