试剂客户端/ZhiFang.ReagentSys.Client/ZhiFang.ReagentSys.Client/Service References/Service_DongHua_YZRMYY/接口wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="HIPService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="input1" type="s:string" />
            <s:element minOccurs="0" name="input2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HIPServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="HIPServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HIPServiceSoapIn">
    <wsdl:part name="parameters" element="s0:HIPService" />
  </wsdl:message>
  <wsdl:message name="HIPServiceSoapOut">
    <wsdl:part name="parameters" element="s0:HIPServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="PUB0015Soap">
    <wsdl:operation name="HIPService">
      <wsdl:input message="s0:HIPServiceSoapIn" />
      <wsdl:output message="s0:HIPServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PUB0015Soap" type="s0:PUB0015Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HIPService">
      <soap:operation soapAction="http://tempuri.org/DHC.Published.PUB0015.BS.PUB0015.HIPService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PUB0015">
    <wsdl:port name="PUB0015Soap" binding="s0:PUB0015Soap">
      <soap:address location="http://192.168.0.46/csp/hsb/DHC.Published.PUB0015.BS.PUB0015.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>