WebLis/ZhiFang.WebLis/ZhiFang.WebLisService/Service References/WeiXinReportFormService/ReportFormWeiXinService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZhiFang.WeiXin" elementFormDefault="qualified" targetNamespace="ZhiFang.WeiXin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo.zhifang.com.cn/ZhiFang.WeiXin/ReportFormWeiXinService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZhiFang.WeiXin.Entity" />
  <xs:element name="UpLoadRF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZhiFang.WeiXin.Entity" minOccurs="0" name="entity" nillable="true" type="q1:BSearchAccountReportForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpLoadRFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpLoadRFResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>