智方OA/ZhiFang.ProjectProgressMonitorManage/ZhiFang.BLL.OA/Service References/OALSR/OAL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OAL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18080/Design_Time_Addresses/OALicenceServer/OAL/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18080/Design_Time_Addresses/OALicenceServer/OAL/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOAL_GetCharLicenceByMAC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharLicenceByMAC" />
  </wsdl:message>
  <wsdl:message name="IOAL_GetCharLicenceByMAC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharLicenceByMACResponse" />
  </wsdl:message>
  <wsdl:message name="IOAL_GetNumLicence_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumLicence" />
  </wsdl:message>
  <wsdl:message name="IOAL_GetNumLicence_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumLicenceResponse" />
  </wsdl:message>
  <wsdl:message name="IOAL_GetNumLicenceByMAC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumLicenceByMAC" />
  </wsdl:message>
  <wsdl:message name="IOAL_GetNumLicenceByMAC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumLicenceByMACResponse" />
  </wsdl:message>
  <wsdl:portType name="IOAL">
    <wsdl:operation name="GetCharLicenceByMAC">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAL/GetCharLicenceByMAC" message="tns:IOAL_GetCharLicenceByMAC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAL/GetCharLicenceByMACResponse" message="tns:IOAL_GetCharLicenceByMAC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumLicence">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAL/GetNumLicence" message="tns:IOAL_GetNumLicence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAL/GetNumLicenceResponse" message="tns:IOAL_GetNumLicence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumLicenceByMAC">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAL/GetNumLicenceByMAC" message="tns:IOAL_GetNumLicenceByMAC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAL/GetNumLicenceByMACResponse" message="tns:IOAL_GetNumLicenceByMAC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOAL" type="tns:IOAL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCharLicenceByMAC">
      <soap:operation soapAction="http://tempuri.org/IOAL/GetCharLicenceByMAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumLicence">
      <soap:operation soapAction="http://tempuri.org/IOAL/GetNumLicence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumLicenceByMAC">
      <soap:operation soapAction="http://tempuri.org/IOAL/GetNumLicenceByMAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OAL">
    <wsdl:port name="BasicHttpBinding_IOAL" binding="tns:BasicHttpBinding_IOAL">
      <soap:address location="http://localhost:18080/Design_Time_Addresses/OALicenceServer/OAL/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>